@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

html,
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1 {
  font-size: 7vw;
  font-weight: 800;
  text-shadow: 2px 4px 6px black;
  color: #8fb3bb;
  margin: 10px;
}

.post-container {
  flex-grow: 5;
}

.grid-container {
  display: grid;
  gap: 20px; 
  grid-template-rows: auto;
  grid-template-columns: 1fr 8fr 1fr;
}

.grid-header {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}

.grid-main {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
}

.grid-footer {
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: small;
}

label {
  display: block;
}

.login-input {
  align-self: left;
  left: 0px;
  max-width: 50%
}

ol, ul {
  margin-block-start: 0%;
  margin-block-end: 0%;
  padding-inline-start: 0%;
  list-style-type: none
}

h4 {
  margin: 0px;
}

.friends {
  padding-top: 20px;
}

.avatar {
  width: 200px;
}

button {
  padding:5px;
}

#edit-user-form {
  text-align: left;
  padding: 10px;
  background-color: #c7d9dd;
}

fieldset {
  border: 0px;
}

#edit-user-form .button {
  text-align: center;
}

.profile {
  padding: 20px;
}

.left {
  text-align: center;
}

.post {
  background-color: #c7d9dd;
  margin: 15px;
  padding: 5px;
}

.create-post {
  padding-top: 40px;
}

.title {
  font-weight: bold;
  padding: 10px;
}

.user {
  margin: 5px;
}

.date {
  font-style: italic;
  margin: 0px;
}

.large-input {
  max-width: 200px;
  height: 200px;
}

.content {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;;
  margin: 0px;
  margin-block-start: 0%;
  margin-block-end:0%
}

// Basic button styling, feel free to edit or change.
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  text-decoration: none;
  font-size: 12px;
  color: black;
  background-color: #8fb3bb;
  border: 1px solid black;
  border-radius: 7px;
  margin: 5px;
  padding: 5px;
  vertical-align: bottom;
  box-shadow: 0 4px 4px #45818e;
}

.button:hover {
  color: rgb(221, 221, 221);
  background-color: rgb(48, 48, 48);
  cursor: pointer;
}

.links {
  padding: 50px 30px 30px 30px;
}

.profile h4, h3 {
  text-align: center;
  padding: 5px;
}

// Small images
.thumbnail {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
}

.flex-container {
  display: flex;
}

.flex-item {
  flex: 0 0 200px;
  padding: 10px;
}

input {
 padding: 5px;
 margin: 10px;
}

.post-container {
  flex-grow: 2;
  padding: 20px;
}
